name: Build and deploy Node.js app to Azure Web App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: npm install and build
        run: |
          npm install
          npm run build

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ipcenter-ticket-bot
          publish-profile: |
            <publishData><publishProfile profileName="ipcenter-ticket-bot - Web Deploy" publishMethod="MSDeploy" publishUrl="ipcenter-ticket-bot-a6d0fqexaffrddc3.scm.eastus-01.azurewebsites.net:443" msdeploySite="ipcenter-ticket-bot" userName="$ipcenter-ticket-bot" userPWD="GEzS41r5BRzunseuev0fmWgHRjK4eQ3ujZJhnFiAa19Q84aalyKvl2WngEkl" destinationAppUrl="https://ipcenter-ticket-bot-a6d0fqexaffrddc3.eastus-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="ipcenter-ticket-bot - FTP" publishMethod="FTP" publishUrl="ftps://waws-prod-blu-509.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="REDACTED" userPWD="REDACTED" destinationAppUrl="https://ipcenter-ticket-bot-a6d0fqexaffrddc3.eastus-01.azurewebsites.net" SQLServerDBConnectionString="REDACTED" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile><publishProfile profileName="ipcenter-ticket-bot - Zip Deploy" publishMethod="ZipDeploy" publishUrl="ipcenter-ticket-bot-a6d0fqexaffrddc3.scm.eastus-01.azurewebsites.net:443" userName="$ipcenter-ticket-bot" userPWD="GEzS41r5BRzunseuev0fmWgHRjK4eQ3ujZJhnFiAa19Q84aalyKvl2WngEkl" destinationAppUrl="https://ipcenter-ticket-bot-a6d0fqexaffrddc3.eastus-01.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="https://portal.azure.com" webSystem="WebSites"><databases /></publishProfile></publishData>
          package: .
